=content_for :title, "simmr | home"

= render 'layouts/primary_header'
.wow{'ng-controller'=>'HomeIndexCtrl'}
  .home 
    .attention-getter
      #home-carousel.carousel.slide.hidden-phone
        .carousel-inner
          .active.item
            =image_tag "Onigilly-1.jpg"
          .item
            =image_tag "Tava-1.jpg"
          .item
            =image_tag "TT-1.jpg"
          .item
            =image_tag "Eji-1.jpg"
          .item
            =image_tag "Antologia-1.jpg"
          .item
            =image_tag "Capos-1.jpg"
        -#
          -all_events=Event.where("approved = ?", true)
          -i=0
          .carousel-inner
            -for event in all_events
              -if i==0
                .active.item
                  =render 'home/sampleevent', :event => event
              -else
                .item
                  =render 'home/sampleevent', :event => event
              -i=i+1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#home-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#home-carousel"} ›
      -#.container
        .copy.row
          .span1
          .span10.copy-content
            %h1 It helps to know the guy behind the counter.
            %h2 Get to know your local bar and restaurant owners through unforgettable experiences
            .buttons
              %a.btn.how-it-works-button{:href => "#how-it-works", "data-target" => "#how-it-works-detail", :type => "button"} How Does It Work?
              %br
              -if user_signed_in? == false
                %a.btn.btn-warning.foodiesignup{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} Sign Up as a Foodie
                %a.btn.btn-warning.bizsignup{:href => "#sign_up_business", :"data-toggle" =>"modal"} Sign Up as a Business
                %p Already a member? &nbsp <a href = "#sign_in" class = "sign-in-link" data-toggle = "modal"> Sign In </a>
              -if user_signed_in?
                %a.btn.btn-warning.view-events-button{:href => "/events"} Upcoming Events
                -#
                  %p
                    = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?", :class => 'sign-out-link'
            -#
              .logo
                = link_to image_tag("logo_final_white.png", :border=>0), '/events', :class => "logo"
            .span1
    .container
      .row.section-header#hero-title
        .span12
          %h1 150% Uniquely Simmr
      .row#top
        .offset4.span4#home-buttons
          %a.btn.btn-warning{:href => "/home/howitworks"} How It Works
          %a.btn.btn-warning{:href => "/home/philosophy"} Our Philosophy
    .events-index{'ng-controller' => 'EventIndexCtrl'}
      -all_events=Event.where(:approved => true)
      -upcoming_events = all_events.where(:upcoming=>true)
      -non_upcoming_events= all_events.where(:upcoming=>false)
      .events
        .container
          .row.section-header
            .span12.events-index-header
              %h1 Featured Events in San Francisco
        .section.events-section
          .container
            .row.events-row-content
              .span2
              .span8.events-index-content
                -if current_user
                  -if current_user.chef == true
                    %p Look around and get some ideas!
                    - if all_events.length == 0
                      %p No events! How 'bout starting one?
                  - if current_user.chef == false
                    %p Pick an event to attend!
                    -if all_events.length == 0
                      %p No events! Sign up to stay up to date on future ones!
                -else
                  %p Pick an event to attend!
                  -if all_events.length == 0
                    %p No events! Sign up to stay up to date on future ones!
        .container
          -potential_live_events=non_upcoming_events.dup
          -while potential_live_events.length > 1
            -event = potential_live_events.pop
            .row.events-row
              .span6.single-event
                =render "events/singleevent", :event => event
              -event = potential_live_events.pop
              .span6.single-event
                =render "events/singleevent", :event => event
          -if potential_live_events.length == 1
            -event = potential_live_events.pop
            .row.events-row
              .span6.single-event
                =render "events/singleevent", :event => event
              .span6
       
        
        .section.events-section
          .container
            .row.events-row-content
              .span12.events-index-content
                -if current_user
                  -if current_user.chef == true
                    %p Get a sense? <a href = "/events/new">Set up</a> your event today!
                  -else
                    %p Don’t see your favorite business? <a href = "/campaigns/new">Suggest a business</a> or <a href = "/campaigns">vote up a suggested business</a> to get them to host events on Simmr!
                -else
                  %p <a href = "#sign_up_foodie", data-toggle = "modal"> Sign up </a> or <a href = "#sign_in", data-toggle = "modal">sign in</a> to see more and book seats!
      %a.back-to-top{:href => '#top'}Back to Top

  = render 'layouts/footer'
  = render 'shared/signup_modals'
  = render 'shared/signin_modal'


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"

-#  %form.navbar-search.pull-left.clearfix
-#    %input.search-query{:placeholder => "Find a Chef or Restaurant", :type => "text"}